#md
HELP.md

#build
build/
!**/src/main/**/build/
!**/src/test/**/build/

#class
*.class

#packages
*.jar
*.war
*.ear

#gradle
!gradle/wrapper/gradle-wrapper.jar
.gradle
gradle-app.setting
.gradletasknamecache

#STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

#IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

#NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#VS Code
.vscode/

#ssh/db config
application-security.properties
/config

#logs
/log

#data
/data

#test
**/src/test/**
