<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %clr(%5level) %cyan(%logger) - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>./log/bdkqpr0x.log</file>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %5level %logger - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>./log/bdkqpr0x_%d{yyyyMMdd}_%i.log</fileNamePattern>
      <maxFileSize>20MB</maxFileSize>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>

  <springProfile name="dev">
    <logger name="com.fhy8vp3u" level="DEBUG"/>
  </springProfile>

  <springProfile name="prod">
  </springProfile>

  <logger name="org.springframework" level="WARN"/>
  <logger name="com.zaxxer" level="WARN"/>
  <logger name="org.mybatis" level="WARN"/>
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
